*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
  
    background: linear-gradient(to left,#b7c3d8,#b7c3d8);  
   
   }


.card img{

    border-radius: 15px !important;
    box-shadow: 5px 5px 5px 5px rgb(186, 180, 180);
 }
 .card-img-top{
     width: 100%;
     height: 20rem !important;
     border-radius: 20px;
 }
 .card-group{
     width:100% !important;
     gap: 20px; 
    
 }
 .card-body {
     border: 5px solid rgb(177, 159, 159);
     border-radius: 10px 10px 15px 15px ;
    border-top-left-radius: 15px solid  !important;
    border-top-right-radius: 15px solid !important;
    


   
   } 
  
   #call1{
       border-radius: 20px;
       border: 1px solid rgb(204, 198, 198);
   }
.card-title{
    font-size: 2rem;
    text-decoration: none;
    margin-right:4% ; 
    color: #172B4D;
    
}
.but{
    background-color: #36B37E;
    border: none;
    width: 9rem;
    color: #FFFFFF;
    font-size: 20px; 
    height: 5vh;
    border-radius: 6px;
    margin-top: 10px;
}

ul{
    list-style: none;
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    padding-left: 0%;
    justify-content: center;
}

ul li{
   
    background-color:#9b9898;
    border-radius: 4px;
    color: #4e4138;
    padding: 10px;
    margin-top: 30px;
    margin: 4px;
    font-size: 1.5rem;
}
.button2{
    text-decoration: none;
}
.container .card-body p{
    font-size: 1rem;
    color: #4d3636;
}

.card a {
    text-decoration: none !important;
}

 