         body {
            font-family: 'Arial', sans-serif;
            line-height: 1.6;
            margin: 0;
            padding: 0;
            background: linear-gradient(#F2D4D6,white,#d39c97);
            color: #213F99;
        }

        .navbar {
            background-color: #E1B0AC;
        }

        
       .acheUn{
        font-size: 24px;
       }

        h1, h2, h3, h4, h5, h6 {
            font-weight: bold;
            color: #213F99;
            text-transform: uppercase;
        }
        h2{
            font-size: 32px;
        }
        .navbar .nav-link {
            color: #213F99;
            font-size: 1.5rem;
        }
        .navbar .nav-link:hover {
           color: white;
        }
        a:hover {
            color: #dbe1e7;
        }
        .bgimage {
            background: url('images/fond-ecran-hd-fluide-ondule-rose-futuriste_1000823-13779.avif') no-repeat center center/cover;
            height: 100vh;
            color:#213F99;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .hero-text {
            margin-top: 150px;
        }
        
        .hero_title {
            font-size: 2.5rem;
            margin-bottom: 0.5rem;
        }
        
        .hero_desc {
            font-size: 2rem;
        }

        #pp{
            animation: 2s linear 1s infinite alternate slidein;
        }

       
       

        @keyframes slidein {
        from {
            transform: translateX(-10%);
        }
        to {
            transform: translateX(2);
        }
}
.paragraphhe {
    color: #213F99;
    font-size: 24px;
    line-height: 1.7;
    margin-top: 10px;
}
   
   


       
        section {
            padding: 60px 0;
            
        }

       

        .services .card {
            border: none;
            border-radius: 10px;
            transition: transform 0.3s;
            transition: transform 1.10s;
        }
        
        .services .card:hover {
            transform: translateY(-10px);
        }
        
        .services .card-img-top {
            width: 100px;
            height: 130px;
            margin-top: 10px;
            margin: auto;
        }
        
        .services .card h3 {
            font-size: 1.25rem;
            margin-top: 1rem;
        }
        
        .card{
          background-color: white;
        }
        .card img {
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            width: 100%; 
            height: 30vh;
        }

        .card-body {
            padding: 20px;
        }

        .card-body h3 {
            margin-bottom: 15px;
        }

        .card-body p {
            margin-bottom: 0;
            font-size:-2px;
        }

        #contact {
            padding: 60px 0;
            background-color: #fff;
            text-align: center;
        }
        
        .contactContent {
            max-width: 900px;
            margin: auto;
        }
        
        form .form-control {
            border-radius: 0.25rem;
        }
        
        form button {
            margin-top: 1rem;
            border-radius: 0.25rem;
        }


         /* Styles pour les cartes de projet */
.project-card {
    transition: transform 0.3s ease-in-out;
}

.project-card:hover {
    transform: translateY(-15px);
}



/* Styles pour les titres */
.card-title {
    color: #213F99;
}

/* Styles pour les descriptions */
.card-text {
    color: #213F99;
}


        .contactContent .form-control,
        .contactContent .btn {
            border-radius: 30px;
        }


#inputNom{
    border-radius: 10px;
}
#inputMail{
    border-radius: 10px; 
}
#inputSujet{
    border-radius: 10px; 
}

.btnn{
    background-color:#213F99;
    border-radius: 5px;
    padding: 10px;
    border-style: none;
}
.btnn:hover{
    background-color: #7491e6;
    
}
      .btn {
        background-color: #213F99;
        border-radius: 10px; 
        
      }
      .btn:hover{
        background-color: #7491e6;
        
    }

  
    
    .social-icons a {
        color:#213F99;
        margin: 0 10px;
        transition: color 0.3s;
    }
    
    .social-icons a:hover {
        color: #ddd;
    }
        footer {
            color: #213F99;
            padding: 20px 0;
            text-align: center;
        }
        
       

       
